<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="home"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="account"
      >Your Bank Account</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="shopping"
      >Your Shopping List</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      routerLink="counter"
      >Redux Counter</a
    >
  </li>
</ul>
