<form
  [formGroup]="form"
  (ngSubmit)="addItem(focusMe)">
  <div class="form-group">
    <label for="description">Description of Item To Add</label>

    <input
      #focusMe
      type="text"
      id="description"
      formControlName="description"
      class="form-control" />
    <div
      class="alert alert-danger"
      *ngIf="submitted() && description.errors">
      <p *ngIf="description.hasError('required')">This is Required</p>
      <p *ngIf="description.hasError('minlength')">This is Too Short!</p>
      <p *ngIf="description.hasError('maxlength')">This is Too Long!</p>
    </div>
    <button
      type="submit"
      class="btn btn-primary">
      Add This Item
    </button>
  </div>
</form>
